/* Home Page (removed reels and explore buttons. removed recommendations)*/

/* this one is like this cuz the "/reels" got rerouted */
div:has(> span > div > a[href*="instagram"])

{
    width: 0;
    height: 0;
    display: none;
}

article[isRecommendation=""] {
    filter: blur(25px);
    pointer-events: none;       /* block all clicks */
    opacity: .5;
}

/* DMs (removes reels sent) */

div[role="button"]:has(svg[aria-label="Clip"]) {
    filter: blur(25px);
    pointer-events: none;       /* block all clicks */
}

/* Account Page (removed reels section) */

div:has(> a[href="https://www.instagram.com/"]) {
    width: 0;
    height: 0;
    display: none;
}

/* Search Page (removed reels) */

*[remove_from_search=""] {
    display: none;
    height: 0;
    width: 0;
}