/* Home Page (removes reels button and recommendations) */

/* Hide reels links everywhere (including sidebars, explore grids, and profile tabs) */
a[href*="/reels/"],
a[href*="/reel/"],
a[data-noalg-home-link="1"],
div:has(> a[href*="/reels/"]),
div:has(> a[href*="/reel/"])
{
    display: none !important;
}

article[isRecommendation=""] {
    display: none !important;
}

/* DMs (removes reels sent) */

div[role="button"]:has(svg[aria-label="Clip"]) {
    display: none !important;
}
